@font-face {
  /* Source: https://uispace.net/1288-aquatico-animated-font-free-Font */
  font-family: Aquatico;
  src: url(../fonts/Aquatico-Regular.otf) format("opentype");
}

@font-face {
  /* Source: https://uispace.net/1397-liquide-font-free-Font */
  font-family: Liquide;
  src: url(../fonts/Liquide.ttf) format("truetype");
}

.selection .li > img, .cube img {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.cube-container, .cube, .cube div {
  width: 500px;
  height: 500px;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  font-size: 3vmin;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4c1065), color-stop(#1faab2), to(#1fb26d));
  background-image: linear-gradient(180deg, #4c1065, #1faab2, #1fb26d);
  color: #eee;
}

.main-container {
  background-color: #111;
  width: 85%;
  margin: auto;
}

.header {
  height: 60vh;
  overflow: hidden;
  background-image: url(../images/jonatan-pie-0y9YRbz2BMk-unsplash.jpg);
  background-size: 100%;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  padding: 1rem;
  position: relative;
}

.header__h1 {
  font-family: Aquatico, sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin: 0.5rem;
}

.header__h2 {
  font-family: Liquide, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 17% 0 1rem;
  line-height: 1.3;
}

.form {
  background-color: #111;
  opacity: 0.6;
  margin-top: 1rem;
  padding: 0.8rem;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
}

.form__label {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  margin: 0 0.5rem;
}

.form__input {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9rem;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 5px;
}

.form__submit {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  margin: 0 1rem;
  width: 200px;
  padding: 0.8rem;
  cursor: pointer;
  outline: none;
  color: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4c1065), to(#1faab2));
  background-image: linear-gradient(180deg, #4c1065, #1faab2);
  border: 3px solid slateblue;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form__submit:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1faab2), to(#1fb26d));
  background-image: linear-gradient(180deg, #1faab2, #1fb26d);
}

.main {
  padding: 3rem;
}

.main__p, .main__h2, .main__h3 {
  margin-bottom: 2rem;
}

a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a:hover {
  color: #1fb26d;
}

.selection {
  display: block;
  width: 250px;
  height: 500px;
  list-style: none;
}

.selection .li {
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 10;
  float: left;
  margin: 0 10px 10px 0;
  border: solid 3px #55BFE2;
  background-color: #55BFE2;
  outline: none;
  cursor: pointer;
}

.selection .li:focus img {
  opacity: .7;
}

.selection .li > img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cube-container {
  position: absolute;
  right: 30%;
  float: right;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  overflow: hidden;
}

.cube {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg) translateZ(-250px);
          transform: rotateX(0deg) translateZ(-250px);
  -webkit-transition: 2s 9999999s;
  transition: 2s 9999999s;
}

.cube div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222;
}

.cube .front {
  -webkit-transform: rotateY(0deg) translateZ(250px);
          transform: rotateY(0deg) translateZ(250px);
}

.cube .back {
  -webkit-transform: rotateX(180deg) translateZ(250px);
          transform: rotateX(180deg) translateZ(250px);
}

.cube .right {
  -webkit-transform: rotateY(90deg) translateZ(250px);
          transform: rotateY(90deg) translateZ(250px);
}

.cube .left {
  -webkit-transform: rotateY(-90deg) translateZ(250px);
          transform: rotateY(-90deg) translateZ(250px);
}

.cube .top {
  -webkit-transform: rotateX(90deg) translateZ(250px);
          transform: rotateX(90deg) translateZ(250px);
}

.cube .bottom {
  -webkit-transform: rotateX(-90deg) translateZ(250px);
          transform: rotateX(-90deg) translateZ(250px);
}

.li:focus ~ .cube-container .cube {
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.selection1:focus ~ .cube-container .cube {
  -webkit-transform: translateZ(-250px) rotateY(0deg);
          transform: translateZ(-250px) rotateY(0deg);
}

.selection2:focus ~ .cube-container .cube {
  -webkit-transform: translateZ(-250px) rotateY(-90deg);
          transform: translateZ(-250px) rotateY(-90deg);
}

.selection3:focus ~ .cube-container .cube {
  -webkit-transform: translateZ(-250px) rotateX(-90deg);
          transform: translateZ(-250px) rotateX(-90deg);
}

.selection4:focus ~ .cube-container .cube {
  -webkit-transform: translateZ(-250px) rotateY(90deg);
          transform: translateZ(-250px) rotateY(90deg);
}

.selection5:focus ~ .cube-container .cube {
  -webkit-transform: translateZ(-250px) rotateX(90deg);
          transform: translateZ(-250px) rotateX(90deg);
}

.selection6:focus ~ .cube-container .cube {
  -webkit-transform: translateZ(-250px) rotateX(180deg);
          transform: translateZ(-250px) rotateX(180deg);
}

/* Media Queries */
@media only screen and (max-width: 1450px) {
  .header__h1 {
    float: left;
    text-align: left;
    margin: 1rem;
    width: 45%;
  }
  .header__h2 {
    float: left;
    text-align: left;
    margin: 1rem 1rem 1rem 25%;
    width: 30%;
  }
  .form {
    float: right;
    clear: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
    text-align: left;
    margin: 1rem;
    padding: 1rem;
    position: relative;
    left: auto;
    bottom: 45%;
  }
  .form__label {
    margin: 0 0 0.15rem 0;
  }
  .form__input {
    padding: 0.5rem;
    margin: 0.25rem 0;
  }
  .form__submit {
    margin: 0.5rem auto;
  }
  .cube-container {
    right: 25%;
  }
}

@media only screen and (max-width: 1300px) {
  .cube-container {
    right: 20%;
  }
}

@media only screen and (max-width: 1250px) {
  .header__h1 {
    float: none;
    text-align: center;
    margin: 1rem auto;
    width: 100%;
  }
  .header__h2 {
    float: none;
    text-align: center;
    margin: 2rem auto;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .form {
    float: none;
    clear: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    text-align: center;
    margin: 1rem auto;
    padding: 0;
    position: absolute;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, -5%);
            transform: translate(-50%, -5%);
    opacity: 0.9;
    background-color: transparent;
  }
  .form__label {
    display: none;
  }
  .form__input {
    display: none;
  }
  .form__submit {
    margin: 1rem auto;
  }
}

@media only screen and (max-width: 1200px) {
  .cube-container {
    right: 15%;
  }
}

@media only screen and (max-width: 1100px) {
  .main__h3 {
    margin: 2rem 0;
  }
  .selection {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .selection .li {
    width: 300px;
    height: 300px;
    cursor: auto;
  }
  .selection .li:focus img {
    opacity: 1;
  }
  .cube-container {
    display: none;
  }
}

@media only screen and (max-width: 920px) {
  .header {
    background-size: 100% 100%;
  }
  .selection .li {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 800px) {
  .header__h2 {
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -55%);
            transform: translate(-50%, -55%);
  }
  .form {
    bottom: 3%;
    left: 50%;
    -webkit-transform: translate(-50%, -3%);
            transform: translate(-50%, -3%);
  }
}

@media only screen and (max-width: 680px) {
  .header__h2 {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .form {
    bottom: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, -5%);
            transform: translate(-50%, -5%);
  }
  .main-container {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  html {
    font-size: 3.25vmin;
  }
  .form__submit {
    font-size: 1.25rem;
  }
  .main__p {
    font-size: 1.25rem;
  }
  .main__h2 {
    font-size: 2rem;
  }
  .main__h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    height: 50vh;
  }
}

@media only screen and (max-width: 420px) {
  html {
    font-size: 3.5vmin;
  }
}

@media only screen and (max-width: 380px) {
  .form__submit {
    font-size: 1.5rem;
  }
  .main__p {
    font-size: 1.5rem;
  }
  .main__h2 {
    font-size: 2.25rem;
  }
  .main__h3 {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 330px) {
  html {
    font-size: 4vmin;
  }
}

@media only screen and (max-width: 280px) {
  html {
    font-size: 4.5vmin;
  }
  .form {
    width: 100%;
  }
  .form__submit {
    width: 80%;
  }
}

@media only screen and (max-width: 230px) {
  .header {
    height: 40vh;
  }
}

@media only screen and (max-width: 200px) {
  .header {
    height: 35vh;
  }
}
/*# sourceMappingURL=style.css.map */